name: _pack
on:
  workflow_call:
    inputs:
      version_suffix:
        type: string
        required: false
    secrets:
      NUGET_API_KEY:
        required: true

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      
      - name: Pack
        # If version_suffix is 'ci-123', the version becomes '1.0.0-ci-123'
        run: |
          dotnet pack --configuration Release -o ./dist \
          ${{ inputs.version_suffix && format('--version-suffix {0}', inputs.version_suffix) || '' }}

      - name: Push to NuGet
        run: dotnet nuget push "./dist/*.nupkg" -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate