name: CI Commit
on:
  push:
    branches: [ main ]

jobs:
  restore:
    uses: ./.github/workflows/_restore.yaml
    with:
      update_packages: false

  build:
    needs: restore
    uses: ./.github/workflows/_build.yaml
    with:
      configuration: Debug