name: CI Commit
on:
  push:
    branches: [ main ]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/967035478217/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-actions-sa@seventh-seeker-476512-r1.iam.gserviceaccount.com

      - name: Authenticate to AWS 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::067752552981:role/github-actions-role
          aws-region: us-east-1

      - name: Authenticate to Azure
        uses: azure/login@v2
        with:
          client-id: 74489200-76e9-47ab-a895-8de67b56c64e
          tenant-id: efd9003e-a958-4355-8f3b-1a8730f8769f
          subscription-id: 200a04a0-23e0-4937-8d5d-05daa4ea9d81

      - name: Setup & Restore
        uses: ./.github/actions/setup

      - name: Export Secrets and Vars to Env
        shell: bash
        run: |
          echo '${{ toJSON(secrets) }}' | jq -c 'to_entries[]' | while read -r item; do
            key=$(echo "$item" | jq -r '.key | ascii_downcase')
            value=$(echo "$item" | jq -r '.value')
            {
              echo "${key}<<EOF"
              echo "$value"
              echo "EOF"
            } >> "$GITHUB_ENV"
          done
          echo '${{ toJSON(vars) }}' | jq -c 'to_entries[]' | while read -r item; do
            key=$(echo "$item" | jq -r '.key | ascii_downcase')
            value=$(echo "$item" | jq -r '.value')
            {
              echo "${key}<<EOF"
              echo "$value"
              echo "EOF"
            } >> "$GITHUB_ENV"
          done

      - name: Build Debug
        uses: ./.github/actions/build
        with:
          configuration: Debug

      - name: Test Debug
        uses: ./.github/actions/test
        with:
          configuration: Debug

      - name: Pack Prerelease
        uses: ./.github/actions/pack
        with:
          configuration: Debug
          version_suffix: ci-${{ github.run_number }}
          nuget_key: ${{ secrets.NUGET_API_KEY }}