name: CI Commit
on:
  push:
    branches: [ main ]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup & Restore
        uses: ./.github/actions/setup

      - name: Export Secrets and Vars to Env
        shell: bash
        run: |
          echo '${{ toJSON(secrets) }}' | jq -r 'to_entries[] | "\(.key | ascii_downcase)=\(.value)"' >> "$GITHUB_ENV"
          echo '${{ toJSON(vars) }}' | jq -r 'to_entries[] | "\(.key | ascii_downcase)=\(.value)"' >> "$GITHUB_ENV"

      - name: Build Debug
        uses: ./.github/actions/build
        with:
          configuration: Debug

      - name: Test Debug
        uses: ./.github/actions/test
        with:
          configuration: Debug

      - name: Pack Prerelease
        uses: ./.github/actions/pack
        with:
          configuration: Debug
          version_suffix: ci-${{ github.run_number }}
          nuget_key: ${{ secrets.NUGET_API_KEY }}