name: CD Release Tag
on:
  push:
    tags: [ 'v*' ]

jobs:
  restore:
    uses: ./.github/workflows/_restore.yaml
  
  build:
    needs: restore
    uses: ./.github/workflows/_build.yaml
    with:
      configuration: Release

  test:
    needs: build
    uses: ./.github/workflows/_test.yaml
    with:
      configuration: Release
    secrets: inherit

  pack:
    # Tags only pack if tests pass!
    needs: test
    uses: ./.github/workflows/_pack.yaml
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}